@media (max-width: 768px) {
/* ちーちゃん発 */
.header-link {
    position: fixed;
    inset: 0;
    background-color: #F7F9FB;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 0;
    padding: 120px 24px 40px;
    transition: visibility .3s linear, opacity .3s linear;
}
.introduction-text {
    font-size: 12px;
}


.header__nav__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .header-link {
      visibility: hidden;
  }
.header.is-open .header-link {
    visibility: visible;
    opacity: 1;
  }


.header-button {
    width: 42px;
    height: 42px;
    position: relative;
    margin-left: auto;
    z-index: 1;
  }
.header-buttonLine {
    display: block;
    color:#0071bc;
    width: 30px;
    height: 2px;
    position: absolute;
    border-top: solid 2px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .header-buttonLine:nth-of-type(1) {
    top: 13px;
  }
  
  .header-buttonLine:nth-of-type(2) {
    top: 20px;
  }
  
  .header-buttonLine:nth-of-type(3) {
    top: 27px;
  }
.header.is-open .header-buttonLine:nth-of-type(1) {
    transform: translateX(-50%) rotate(45deg);
    top: 20px;

    /* ↓ここから根岸 */
/* 提出フォーム */
/* レビューフォーム */
.submit-body,
.review-body
{
    margin: 0;
}
.submit-title,
.review-title {
    font-size: 28px;
    margin: 0 45%;
}

.user-name {
    text-align: center;
    padding-top: 0;
}

.submit-formLabel,
.review-formLabel {
    height: 60px;
    padding: 3px;
    z-index: 1;
}

.submit-formInput,
.review-formInput,
.submit-textarea,
.review-textarea {
    width: 100%;
    margin-right: auto;
    z-index: 0;
}

/* 星 */
.star {
    font-size: 200%;
}

/* ↑ここまで根岸 */
}


/* ヨッシー！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ */
.quiz-form{
    width: 100%;
}

.quiz-checkbox{
    flex-direction: column;
    display: flex;
}

/* ちーちゃん尾張 */


/* ここから雄月 */

.tab-nav {
    display: block;
    margin-bottom: 10px;
    justify-content: center;
}
.tab-navItem {
    width: 70%;
    border-radius: 5px;
    overflow: hidden;
    left: 50%;
    margin-bottom: 30px;

.quiz-checkbox-1{
    margin: auto 0;
    margin-bottom: 16px;
}

.quiz-checkbox-2{
    margin: auto 0;
    margin-bottom: 16px;

}
.tab-number2 {
    margin-right: 0;
    margin-left: 0;
}


/* ここまで雄月 */


.quiz-checkbox-3{
    margin: auto 0;
}

.quiz-consent{
    flex-direction: column;
    display: flex;
}
.quiz-consent-1{
    margin: auto 0;
    margin-bottom: 16px;
}

}